.Column {
  height: 70vh;
  display: inline-flex;
  margin-top: 100px;
  /* align-items: center; */
  transition: box-shadow ease-in-out 0.5s;
  cursor: pointer;
}

.Column input {
  display: inline-block;
  margin: 60px auto;
  width: 150px;
  height: 30px;
  text-align: center;
  font-size: 16px;
}

.Active {
  box-shadow: 7px 3px 44px 8px #000;
}
