body {
   font-family: "Montserrat", sans-serif;
   background-color: #FFFFFF;
   height: 100vh;
}

.swatch {
  height: 100%;
  display: inline-block;
  float: left;
  border-right: 1px solid #000;
}

.color_input {
  display: block;
  vertical-align: middle;
  margin: 25% auto;
  text-align: center;
  border: 0;
  border-bottom: 2px solid #000000;
  border-shadow: 0;
  background: transparent;
}

#color:focus {
  outline: none;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  padding-right: 9px;
}
::-moz-placeholder { /* Firefox 19+ */
  padding-right: 9px;
}
:-ms-input-placeholder { /* IE 10+ */
  padding-right: 9px;
}
:-moz-placeholder { /* Firefox 18- */
  padding-right: 9px;
}

#addswatch {
  font-size: 36px;
  background: transparent;
  border: 0;
  text-align: center;
  position: absolute;
  font-weight: 700;
}

#deleteswatch {
  font-size: 36px;
  background: transparent;
  border: 0;
  font-weight: 700;
  color: red;
  float: right;
}
