body {
   font-family: "Montserrat", sans-serif;
   background-color: #2C3E50;
   margin: 0;
   padding: 0;
   height: 100%;
}

#centered {
  display: block;
  position: fixed;
  left: 50%;
  top: 50%;
  text-align: center;
  transform: translate(-50%, -50%)
}

#logo {
  width: 300px;
  height: auto;
}

a {
  color: #fff;
  padding: 0 15px 0 0;
  transition: color 0.5s ease;
  text-decoration: none;
}

#links {
  list-style: none;
  padding-left: 0;
}

#links > li {
  display: inline;
}

a:hover,  a:focus {
  text-decoration: none;
  color: #2980b9;
  outline: none;
}

strong {
  font-size: 3em;
}

@media screen and (max-width: 770px){
  #container {
    margin-top: -129px;
    margin-left: -234px;
  }
}

@media screen and (max-width: 460px) {
  #container {
    width: auto;
    margin-left: -155px;
    margin-top: -170px;
  }
}
