body {
   font-family: "Montserrat", sans-serif;
   background-color: #24292e;
   margin: 0;
   padding: 0;
   height: 100%;
}

#container {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  text-align: center;
  margin-top: -150px;
  margin-left: -385px;
}

#container #logo {
  border: 2px solid #fff;
  border-radius: 10px;
  width: 95px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*#container h1 {
  font-size: 72px;
  font-weight: 700;
  color: #fff;
  display: inline-block;
  margin: 0;
}*/

img {
  width: 250px;
  height: auto;
}
#container h1:nth-child(2){
  position: relative;
  left:-23px;
}

h2 {
  color: #fff;
  font-size: 36px;
  height: auto;
  width: 771px;
  margin: 0;
  padding-bottom: 15px;
}

a {
  color: #fff;
  padding: 0 15px 0 0;
  transition: color 0.5s ease;
}

a:hover,  a:focus {
  text-decoration: none;
  color: #2980b9;
  outline: none;
}

strong {
  font-size: 29px;
}

@media screen and (max-width: 770px){
  h2 {
    width:467px;
    line-height:42px;
  }
  span {
    display: none;
  }
  #container {
    margin-top: -129px;
    margin-left: -234px;
  }
}
@media screen and (max-width: 460px) {
  h1 {
    font-size: 44px;
  }
  h2 {
    font-size: 24px;
    line-height: 30px;
    width: 320px;
  }
  #container {
    width: auto;
    margin-left: -155px;
    margin-top: -170px;
  }
}
