body {
   font-family: "Montserrat", sans-serif;
   background-color: #2C3E50;
   margin: 0;
   padding: 0;
   height: 100%;
}

#container {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  text-align: center;
  margin-top: -150px;
  margin-left: -385px;
}

#container h1 {
  font-size: 72px;
  font-weight: 700;
  color: #fff;
  display: inline-block;
}

#container h1:nth-child(2){
  position: relative;
  left:-20px;
}

h2 {
  color: #fff;
  font-size: 36px;
}

a {
  color: #fff;
  padding: 15px 15px 0 0;
}
strong {
  font-size: 29px;
}
