body {
   max-width: 1500px;
   margin: 0 auto;
   font-family: "Montserrat",sans-serif;
   border: 2px solid grey;
   border-top: 0;
   color: #344A5F;
}

a {
   padding-right: 30px;
}

h1,p {
   margin:0 auto;
}

h1 {
  font-size: 7em;
  font-weight: 700;
  text-align: center;
}

.social-media {
  text-align: center;
  border-bottom: 2px solid grey;
}

p {
   padding-bottom: 15px;
}

#blog {
  font-size: 29px;
}